nav{
	width:100%;
	border-bottom:3px solid #4bac20;
	height:100px;
}
.logo{
	width:70%;
	height:100%;
	/*border:1px solid red;*/	
	margin: 0 auto;
}
h1{
	margin-top:25px;
	float:left;
}
.t{
	float:right;
	/*margin-right:50px;*/
}
.tt{
	width:70%;
	/*border:1px solid red;*/
	margin:0 auto;
}
.tt .l span{
	width:230px;
	/*border:1px solid red;*/
	display: inline-block;
	text-align: center;
}
.tt .l span:nth-of-type(1){
	color:#ff9000;
}
.qr{
	font-weight: bold;
	margin-top:10px;
	font-size:14px;
	line-height:40px;
}
.xqa{
	width:100%;
	border:1px solid #c7c7c7;
}
.biaoti{
	font-size:12px;
	line-height:30px;

	/*border:1px solid red;*/
	border-bottom:4px solid #bbeeae;
	width:33%;
	float:left;
}
.biaoti .st{
	color:#2e74d3;
}
.biaoti .st:hover{
	border-bottom:1px solid #2e74d3;
}
.biaoti span{
	margin-left:20px;
}
.biaoti img{
	vertical-align: middle;
	margin-left:5px;
}
.d{
	/*border:1px solid red;*/
	overflow: hidden;
	background:#f9f9f9;
	
}
.tj{
	float:left;
	line-height:30px;
	font-size:14px;
	color:#737373;
	font-size: 12px;
}
.tj label:nth-of-type(1),.tj label:nth-of-type(2){
	width:120px;
	display: inline-block;
	text-align: center;
	border-bottom:4px solid #bbeeae;
	margin-left:3px;
	
}
.tj label:nth-of-type(3){
	width:254px;
	display: inline-block;
	text-align: center;
	border-bottom:4px solid #bbeeae;
	margin-left:3px;
}
.tj label:nth-of-type(4){
	width:116px;
	display: inline-block;
	text-align: center;
	border-bottom:4px solid #bbeeae;
	margin-left:3px;
}

.xi{
	width:100%;
	height:92px;
	border-bottom: 1px dashed #e4e4e4;
}
.pic{
	width:71px;
	height:71px;
	border:1px solid #d9dcda;
	float:left;
	margin-left:10px;
	margin-top:10px;
}
.btt{
	color:#8799ff;
	font-size:13px;
	width:252px;
	line-height:30px;
	/*border:1px solid red;*/
	float:left;
	margin-top:10px;
	text-indent: 10px;
}
